<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Server" value="NDB@192.168.160.12:30013" />
    <add key="CompanyDB" value="TEST_SURCOMPANY_270125" />
    <add key="UserName" value="manager" />
    <add key="Password" value="HYC909" />
    <add key="ServerType" value="dst_HANADB" />
    <add key="dbuser" value="SYSTEM" />
    <add key="dbpassword" value="Asdf1234$" />
    <add key="SeparadorCSV" value=";" />
    <add key="CadenaODBC" value="Driver={HDBODBC}; ServerNode = 192.168.160.12:30013; Uid=system; Pwd=Asdf1234$; databaseName=NDB" />
    <add key="LogFilePath" value="C:\SOLSETEC\VIEW\LOG\Log.txt" />
    <add key="NombreConsulta" value="test" />
  </appSettings>
</configuration>
